<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <form name="create_event">

      <input type="text" name="title"/>
      <input type="datetime" name="timestamp"/>
      <input type="text" name="location"/>
      <input type="submit" value="Create Event"></button>
    </form>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
