<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>Hiring Boost: Events</header>
    <div class="sidebar">
      <div id="eventSearchBar">
	<input type="text" placeholder="Search Events by location or date"/>
	<div id="eventSearchResultsContainer">There are currently no events.</div>
	<!-- searching function will create new divs with this container
	     each div will be an event displaying time, location and title
	     user should be able to click on event and see the information from the create_event form-->
      </div>
    </div>
    <div class="main">
      <div>
	<form name="create_event">
	  <input type="text" name="title" placeholder="Event Title..."/>
	  <input type="datetime" name="timestamp" placeholder="Event Date/time..."/>
	  <input type="text" name="location" placeholder="Event Location..."/>
	  <input type="text" name="description" placeholder="Description of Event..."/>
	  <input type="text" name="categories" placeholder="Categories: UI, UX, backend, cloud, ops, ect"/>
	  <input type="text" name="sponsor" placeholder="Event Sponsor..."/>
	  <input type="text" name="companies" placeholder="Companies Attending..."/>
	  <input type="text" name="maxCapacity" placeholder="Maximum Attendance..."/>
	  <input type="submit" value="Create Event"/>
	</form>
      </div>
      <div></div>
    </div>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
